<h2>Edit Plant Pot <%=@plant_pot.id%></h2>

<ul>Color: <%=@plant_pot.color%></ul>
<ul>Size: <%=@plant_pot.size%></ul>
<%if @plant_pot.plant%>
  <ul>Plant: <%=@plant_pot.plant.name%></ul>
<%end%>

<% if logged_in? %>
  <form action="/plant_pots/<%=@plant_pot.id%>" method="POST">
    <input id="hidden" type="hidden" name="_method" value="patch">

    <div>Color: <input type="text" name="color" placeholder="Pot Color" required></div><br>

    <div>Size: </div>
      <div>Large <input type="radio" name="size" value="large" required></input>
      Medium <input type="radio" name="size" value="medium" required></input>
      Small <input type="radio" name="size" value="small" required></input></div><br>

      <div>Select plant to go in this pot:</div>
      <%current_user.plants.each do |plant|%>
        <%=plant.name%><input type="radio" name="plant_id" value ="<%=plant.id%>" required>
      <%end%><br><br>


    <div><input type="submit" value="Edit Pot!"></div>
  </form>
<% else %>
      <h3> You Must Be Logged in to add a new pot. </h3>
<% end %>
